<ng-container *ngIf="items && items.length">
  <div class="card">
    <div class="card-header mt-3">
      <h5 [translate]="'Register.LatestMessages'"></h5>
    </div>
    <div class="card-body pt-0">
      <ng-container *ngFor="let message of items">
        <div class="mt-2">
          <a [routerLink]="['/candidates', 'item', message.action, 'edit' ]" class="text-indigo mb-2"
            *ngIf="message.sender">{{message.sender.name}}</a>
          <span class="float-right text-dark">{{ message?.dateCreated | date:'short' }}</span>
          <div class="card-title font-lg font-weight-normal mb-2 mt-2">
            <span *ngIf="message.subject == null" [translate]="'Register.NoSubject'"></span>
            <span *ngIf="message.subject != null">{{message.subject}}</span>
          </div>
        </div>
        <div class="card-text mb-0 pb-2 border-left border-left-4 border-gray-200 pl-4">
          <span>{{message.body | slice: 0: 36}}...</span>
        </div>
      </ng-container>
      <div class="float-right mt-2">
        <a class="btn btn-gray-100" [routerLink]="['/candidates', 'messages']" [translate]="'Register.ShowMore'"></a>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="items && items.length === 0">
  <div class="card">
    <div class="card-header mt-3">
      <h5 [translate]="'Register.LatestMessages'"></h5>
    </div>
    <div class="card-body pt-0">
      <h4 class="text-secondary font-weight-normal mb-0">
        <span [translate]="'Register.NoMessages'"></span>
      </h4>
    </div>
  </div>
</ng-container>