<div class="row pl-2">
  <div class="col-xl-8 col-lg-4 col-md-4 col-12 tab-navbar tab-container">
    <ul class="nav d-flex">
      <li class=" tab-brand disabled">
        <a class="text-secondary nav-link pl-0 font-lg" [routerLink]="['../']">
          <i class="fa fa-chevron-left pr-1"></i>{{ 'Sidebar.Registrations' | translate }}</a>
      </li>
    </ul>
  </div>
  <div class="col-xl-4 col-lg-8 col-md-8 col-12 mt-2 mt-md-0">
    <div class="font-lg text-secondary text-right" *ngIf="registration">
      {{ 'Registrations.Status' | translate }} : <span [ngClass]="registration?.status?.alternateName === 'open'? 'text-success' :
                        registration?.status?.alternateName === 'closed'? 'text-danger' :
                        registration?.status?.alternateName === 'pending'? 'text-color-theme' : 'text-dark'">
          {{ 'RegistrationStatus.' + registration?.status?.alternateName | translate }}</span>
    </div>
  </div>
</div>


<div class="row pt-2 pb-2 pl-2">
  <div class="col-auto">
    <h1 class="my-auto px-0 py-2" *ngIf="registration">
      {{ registration?.student?.person?.familyName + ' ' + registration?.student?.person?.givenName }}
      <span class="font-xl">{{ 'Students.StudentID' | translate }}:  {{ registration?.student?.studentIdentifier}}</span>
      <span class="font-xl"> - {{'Periods.' + registration?.registrationPeriod?.alternateName | translate}}
        {{registration?.registrationYear?.alternateName }}</span>
    </h1>
  </div>
  <div class="col-auto px-2 py-0 ml-auto" *ngIf="registration">
    <app-actions-button [edit]="edit" [actions]="actions"></app-actions-button>
  </div>
</div>

<div class="tab-navbar tab-container">
  <router-outlet></router-outlet>
</div>
