<ul class="nav d-flex mb-2" *ngIf="showNavigation">
  <li class=" tab-brand disabled">
    <a class="text-secondary nav-link pl-0 font-lg" [routerLink]="['/candidates', 'list']">
      <i class="fa fa-chevron-left pr-1"></i><span
        [translate]="'Settings.Lists.StudyProgramRegisterActions.Description'"></span></a>
  </li>
</ul>
<div class="col-12">
  <div class="row mb-2">
    <div class="col-auto">
      <h2 class="mb-0 pt-2">{{ 'Settings.Lists.StudyProgramRegisterActions.Title' | translate}}
        <h5>{{model.candidate.person.givenName}} {{model.candidate.person.familyName}}</h5>
      </h2>

    </div>
    <div *ngIf="showActions" class="col-auto px-2 py-0 ml-auto">
      <div class="btn-group">
        <button [disabled]="model.actionStatus.alternateName !== 'ActiveActionStatus'" (click)="accept()" type="button"
          class="btn btn-indigo" [translate]="'Register.Accept'"></button>
        <button type="button" class="btn btn-indigo dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
          <a [ngClass]="{ disabled: model.actionStatus.alternateName !== 'ActiveActionStatus' }" (click)="accept()"
            class="dropdown-item" href="javascript:void(0)" [translate]="'Register.Accept'"></a>
          <a [ngClass]="{ disabled: model.actionStatus.alternateName !== 'ActiveActionStatus' }" (click)="reject()"
            class="dropdown-item" href="javascript:void(0)" [translate]="'Register.Reject'"></a>
          <div class="dropdown-divider"></div>
          <a [ngClass]="{ disabled: !(model.actionStatus.alternateName === 'CancelledActionStatus' || model.actionStatus.alternateName === 'FailedActionStatus') }"
            class="dropdown-item" href="javascript:void(0)" (click)="revert()" [translate]="'Register.Revert'"></a>
          <a [ngClass]="{ disabled: model.actionStatus.alternateName === 'PotentialActionStatus' || model.actionStatus.alternateName === 'CompletedActionStatus' }"
            class="dropdown-item" href="javascript:void(0)" (click)="reset()" [translate]="'Register.Reset'"></a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-8">
    <div class="card">
      <div class="card-body">
        <advanced-form-edit #form formName="StudyProgramRegisterActions/preview" [(data)]="model">
        </advanced-form-edit>
        <!--start review item-->
<!--        <div *ngIf="model" class="mb-4 bg-light p-4 rounded">-->
<!--          <legend ref="header" class="text-secondary" [translate]="'Register.Review'"></legend>-->
<!--          <ng-container *ngIf="model.review">-->
<!--            <ng-container [ngSwitch]="editingReview">-->
<!--              <div *ngSwitchCase="model.id">-->
<!--                <ng-container [ngTemplateOutlet]="itemReviewEditTemplate"-->
<!--                  [ngTemplateOutletContext]="{ item: model.review }">-->
<!--                </ng-container>-->
<!--              </div>-->
<!--              <div *ngSwitchDefault>-->
<!--                <ng-container [ngTemplateOutlet]="reviewTemplate" [ngTemplateOutletContext]="{ item: model.review }">-->
<!--                </ng-container>-->
<!--              </div>-->
<!--            </ng-container>-->
<!--          </ng-container>-->
<!--          <ng-container *ngIf="model.review == null">-->
<!--            <ng-container [ngSwitch]="editingReview">-->
<!--              <div *ngSwitchCase="model.id">-->
<!--                <ng-container [ngTemplateOutlet]="itemReviewEditTemplate"-->
<!--                  [ngTemplateOutletContext]="{ item: { itemReviewed: model.id } }">-->
<!--                </ng-container>-->
<!--              </div>-->
<!--              <div *ngSwitchDefault>-->
<!--                <div>-->
<!--                  <i><span [translate]="'Register.NoReview'"></span></i>-->
<!--                  <button (click)="editingReview = model.id" type="button"-->
<!--                    [disabled]="model.actionStatus.alternateName !== 'ActiveActionStatus'"-->
<!--                    class="ml-2 btn btn-primary btn-sm text-lowercase" [translate]="'Register.Add'"></button>-->
<!--                </div>-->
<!--              </div>-->
<!--            </ng-container>-->
<!--          </ng-container>-->
<!--        </div>-->
        <!--end review item-->
        <!--start:review template-->
        <ng-template #reviewTemplate let-item="item">
          <div>
            <div class="text-secondary mt-1 mb-2" *ngIf="item.createdBy">
              <span [translate]="'Register.UserReviewAdded'" [translateParams]="item.createdBy">
              </span>
              <button *ngIf="model.actionStatus.alternateName === 'ActiveActionStatus'"
                (click)="editingReview = item.itemReviewed" type="button"
                class="ml-2 btn btn-primary btn-sm text-lowercase" [translate]="'Edit'"></button>
            </div>
          </div>
          <div>
            <p class="p-3 mb-2 bg-gray-100" *ngIf="item.reviewBody" [innerHTML]="item.reviewBody"></p>
          </div>
          <div>
            <span [translate]="'Register.Rating'"></span>:
            <span class="bg-gray-100 rounded px-2 py-1" *ngIf="item.reviewRating">{{item.reviewRating}}</span>
            <span class="bg-gray-100 rounded px-2 py-1" *ngIf="!item.reviewRating">-</span>
          </div>
        </ng-template>
        <ng-template #reviewEditTemplate let-item="item">
          <advanced-form-edit (customEvent)="onEditReviewEvent($event, item)" formName="CourseClassRegisterAction/edit"
            [data]="item"></advanced-form-edit>
        </ng-template>
        <ng-template #itemReviewEditTemplate let-item="item">
          <advanced-form-edit (customEvent)="onItemReviewEvent($event, item)"
            formName="StudyProgramRegisterActions/review" [data]="item"></advanced-form-edit>
        </ng-template>
        <ng-template #reviewInternshipEditTemplate let-item="item">
          <advanced-form-edit (customEvent)="onInternshipEditReviewEvent($event, item)"
            formName="InternshipRegisterAction/edit" [data]="item"></advanced-form-edit>
        </ng-template>
        <!--end:review template-->
        <!--start:attachments-->
        <div class="mt-4">
          <legend ref="header" [translate]="'Register.Attachments'"></legend>
          <ul class="list-group" *ngIf="model.attachments && model.attachments.length">
            <li class="list-group-item" *ngFor="let item of model.attachments">
              <div class="d-flex">
                <div class="justify-content-center mr-3">
                  <i class="far fa-file-alt fa-2x text-secondary"></i>
                </div>
                <div class="justify-content-start mr-auto">
                  {{item.attachmentType.name}}
                  <div class="text-secondary">
                    {{item.contentType}}
                  </div>
                  <div class="text-secondary">
                    <span [translate]="'Register.DateModified'"></span>
                    <span>&nbsp;</span>
                    <span>{{item.dateModified | date: 'short'}}</span>
                  </div>
                </div>
                <div class="justify-content-end">

                  <div class="btn-group">
                    <ng-container *ngIf="item.contentType !== 'application/pdf'">
                      <button (click)="download(item)" type="button" class="btn btn-theme"
                        [translate]="'Register.Download'"></button>
                    </ng-container>
                    <ng-container *ngIf="item.contentType === 'application/pdf'">
                      <button (click)="preview(item)" class="btn btn-theme z-index-0"
                        [translate]="'Register.Preview'"></button>
                    </ng-container>
                    <button type="button" class="btn btn-theme dropdown-toggle dropdown-toggle-split"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="sr-only"></span>
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" (click)="download(item)" href="javascript:void(0)">
                        <i class="fas fa-download mr-2"></i><span [translate]="'Register.Download'"></span>
                      </a>
                      <a (click)="preview(item)" href="javascript:void(0)" class="dropdown-item">
                        <i class="fas fa-search mr-2"></i><span [translate]="'Register.Preview'"></span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
          <div class="card" *ngIf="model.attachments && model.attachments.length === 0">
            <div class="card-body">
              <h4 [translate]="'Register.NoAttachments'" class="text-secondary font-weight-normal mb-0">
              </h4>
            </div>
          </div>
        </div>
        <!--end:attachments-->
        <!--start: messages-->
        <ng-container *ngIf="model">
          <div class="mt-4">
            <ng-container *ngIf="messages">
              <legend ref="header">
                <span [translate]="'Register.Messages'"></span>
                <ng-container *ngIf="messages.length">
                  <button *ngIf="!showNewMessage" type="button" (click)="showNewMessage = true"
                    class="ml-2 btn btn-sm btn-default text-indigo d-inline text-lowercase"
                    title="{{'Register.NewMessage' | translate}}">
                    <i class="fas fa-paper-plane"></i>
                    <span class="ml-2" [translate]="'Register.NewMessage'"></span>
                  </button>
                </ng-container>
              </legend>

              <ng-container *ngIf="showNewMessage">
                <app-compose-message (submit)="send(newMessage)" (cancel)="showNewMessage = false"
                  [(model)]="newMessage"></app-compose-message>
              </ng-container>

              <div class="card" *ngFor="let message of messages">
                <div class="card-body">
                  <div>
                    <span class="float-right text-dark">{{ message?.dateCreated | date:'short' }}</span>
                    <div class="card-title  font-lg font-weight-normal pb-1">
                      <span *ngIf="message.subject == null" [translate]="'Register.NoSubject'"></span>
                      <span *ngIf="message.subject != null">{{message.subject}}</span>
                    </div>
                  </div>
                  <div class="card-text mb-0 pb-2 border-left border-left-4 border-gray-200 pl-4"
                    [innerHTML]="message.body"></div>
                  <div *ngIf="message?.attachments.length>0" class="mt-2">
                    <button type="button" class="btn btn-light"
                      (click)="downloadFile(message?.attachments[0])">{{ 'Requests.Edit.DownloadFile' | translate }}</button>
                  </div>
                </div>
              </div>
              <div class="card" *ngIf="messages.length === 0">
                <div class="card-body">
                  <h4 class="text-secondary font-weight-normal mb-0">
                    <span [translate]="'Register.NoMessages'"></span>
                    <button *ngIf="!showNewMessage" type="button" (click)="showNewMessage = true"
                      class="float-right btn btn-default text-indigo text-lowercase"
                      title="{{'Register.NewMessage' | translate}}">
                      <i class="fas fa-paper-plane"></i>
                      <span class="ml-2" [translate]="'Register.NewMessage'"></span>
                    </button>
                  </h4>
                </div>
              </div>

            </ng-container>
          </div>
        </ng-container>
        <!--end:messages-->
      </div>
    </div>
  </div>

  <div class="col-4">
    <app-candidate-side-preview [model]="model"></app-candidate-side-preview>
    <ng-container *ngIf="otherApplications.length">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Other active applications</h5>
          <ng-container *ngFor="let otherApplication of otherApplications">
            <div class="mb-2">
              <a class="btn btn-gray-100"
                [routerLink]="[ '/candidates', 'list' , { outlets: { modal: ['item', otherApplication.id, 'edit'] } }]">
                <span>{{ otherApplication.studyProgram.name }}</span>
                <span *ngIf="otherApplication.specialization && otherApplication.specialization.specialty > -1">
                  ({{ otherApplication.specialization.name }})
                </span>
                <span>&nbsp;</span>
                <span [translate]="'Register.DateModified'"></span>
                <span>&nbsp;</span>
                <span>{{ otherApplication.dateModified | date: 'short' }}</span>
              </a>
            </div>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </div>
</div>
<app-attachment-download></app-attachment-download>
