<div class="card">
  <div class="card-header d-md-flex">
    <h5 [translate]="'Students.ProgramGroups'" class="mr-3 my-auto"></h5>
  </div>
  <div class="card-body pt-0">
    <div id="group-list"  class="flex-column" *ngIf="programGroups && programGroups.length > 0">
      <ul class="sis--list-group sis--list-group-header">
        <li class="sis--list-group-item">
          <div class="d-flex justify-content-center align-items-center">
            <div class="sis--list-group-item_sm_column d-block text-left"></div>
            <div class="sis--list-group-item_sm_column d-block text-left" [translate]="'Students.CourseDisplayCode'"></div>
            <div class="sis--list-group-item_md_column d-block text-center" [translate]="'Students.Name'"></div>
            <div class="sis--list-group-item_sm_column d-none d-xl-block" [translate]="'Students.MinCourses'"></div>
            <div class="sis--list-group-item_sm_column d-none d-xl-block" [translate]="'Students.MaxCourses'"></div>
            <div class="sis--list-group-item_sm_column d-none d-xl-block" [translate]="'Students.GroupGrade'"></div>
            <div class="sis--list-group-item_sm_column d-none d-xl-block" [translate]="'Students.Εcts'"></div>
            <div class="sis--list-group-item_sm_column d-none d-xl-block" [translate]="'Students.Coefficient'"></div>
            <div class="sis--list-group-item_sm_column text-right" [translate]="'Students.Grade'"></div>
          </div>
        </li>
      </ul>
      <ul class="sis--list-group sis--list-group-body">
        <li class="sis--list-group-item" *ngFor="let programGroup of programGroups;">
          <div class="d-flex justify-content-center align-items-center list-color">
            <div class="sis--list-group-item_sm_column d-block text-left">
              <span class="font-xs text-secondary">
                <a [routerLink]="['.', { outlets:{ modal:'student-program-groups/' +  programGroup.id  + '/edit'} }]" class="fas fa-edit text-indigo mr-2"></a>
              </span>
              <ng-container *ngIf="programGroup.calculateGroupGrade; else elseBlock">
                <span class="font-xs text-secondary"><a [routerLink]="['.', { outlets:{ modal:'groups-percent/' +  programGroup.programGroup.id  + '/edit'} }]" class="fas fa-eye text-indigo"></a></span>
              </ng-container>
              <ng-template #elseBlock>
                <span class="font-xs text-secondary ml-1"><a [routerLink]="['.', { outlets:{ modal:'groups-percent/' +  programGroup.programGroup.id  + '/view'} }]" class="fas fa-eye text-indigo"></a></span>
              </ng-template>
            </div>
            <div class="sis--list-group-item_sm_column d-block text-left">
              <span class="font-xs text-secondary">{{ programGroup?.programGroup?.displayCode }}</span>
            </div>
            <div class="sis--list-group-item_md_column d-block text-center">
              <span class="font-xs text-secondary">{{ programGroup?.programGroup?.name }}</span>
            </div>
            <div class="sis--list-group-item_sm_column d-none d-xl-block"><span class="font-xs text-secondary">{{programGroup.minCourses}}</span></div>
            <div class="sis--list-group-item_sm_column d-none d-xl-block"><span class="font-xs text-secondary">{{programGroup.maxCourses }}</span></div>
            <div class="sis--list-group-item_sm_column d-none d-xl-block"><span class="font-lg text-secondary" [ngClass]="programGroup?.calculateGroupGrade? 'text-center fa fa-check text-success' : 'text-center fa fa-times text-danger'"></span></div>
            <div class="sis--list-group-item_sm_column d-none d-xl-block"><span class="font-xs text-secondary">{{programGroup.calculateGroupGrade && programGroup.ects >= 0? programGroup.ects : '-'}}</span></div>
            <div class="sis--list-group-item_sm_column d-none d-xl-block"><span class="font-xs text-secondary">{{programGroup.calculateGroupGrade && programGroup.coefficient >= 0? programGroup.coefficient : '-' }}</span></div>
            <div class="sis--list-group-item_sm_column text-right">
              <span class="font-2xl" [ngClass]="programGroup?.isPassed? 'text-success' : 'text-danger'">
                {{programGroup.calculateGroupGrade && programGroup.formattedGrade ? programGroup.formattedGrade : '-' }}
              </span>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="mb-3" *ngIf="programGroups && programGroups.length == 0">
      <span [translate]="'Students.Empty'"></span>
    </div>
  </div>
</div>