<div class="row mt-3" *ngIf="model">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="card shadow-none border border-gray-200 text-secondary mb-2">
      <div class="card-body px-3 py-3">
        <a [ngVar]="true" #collapsed1="ngVar" href="javascript:void(0)"
           class="card-title font-lg font-weight-normal  text-decoration-none text-secondary"
           (click)="collapsed1.value = !collapsed1.value">
          <span [translate]="'Students.InscriptionInformation'"></span>
          <i class="collapsible  ml-3 pt-1 fa" [ngClass]=" {'fa-chevron-up' : collapsed1.value, 'fa-chevron-down' : !collapsed1.value}"></i>
        </a>
        <form *ngIf="collapsed1.value" class="mt-2 collapsible-form">
          <div class="row">
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="inscriptionYear" [translate]="'Students.inscriptionYear'"></label>
                <input [disabled]="true" class="form-control bg-white" id="inscriptionYear" name="inscriptionYear"
                       type="text" [value]="model?.inscriptionYear?.alternateName">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="inscriptionPeriod" [translate]="'Students.inscriptionPeriod'"></label>
                <input [disabled]="true" class="form-control bg-white" id="inscriptionPeriod" name="inscriptionPeriod"
                       type="text" [value]="'Periods.' + model?.inscriptionPeriod?.alternateName | translate">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="inscriptionSemester" [translate]="'Students.InscriptionSemester'"></label>
                <input [disabled]="true" class="form-control bg-white" id="inscriptionSemester" name="inscriptionSemester" type="text"
                       [value]="model?.inscriptionSemester?.name">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="inscriptionDate" [translate]="'Students.InscriptionDate'"></label>
                <input [disabled]="true" class="form-control bg-white" id="inscriptionDate" name="inscriptionDate" type="text"
                       [value]="model?.inscriptionDate | date:'dd/MM/yyyy'" >
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="inscriptionMode" [translate]="'Students.InscriptionMode'"></label>
                <input [disabled]="true" class="form-control bg-white" id="inscriptionMode" name="inscriptionMode" type="text"
                       [value]="model?.inscriptionMode?.name">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="inscriptionIndex" [translate]="'Students.InscriptionIndex'"></label>
                <input [disabled]="true" class="form-control bg-white" id="inscriptionIndex" name="inscriptionIndex" type="text"
                       [value]="model?.inscriptionIndex">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="inscriptionDecision" [translate]="'Students.InscriptionDecision'"></label>
                <input [disabled]="true" class="form-control bg-white" id="inscriptionDecision" name="inscriptionDecision" type="text"
                       [value]="model?.inscriptionDecision">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="inscriptionNumber" [translate]="'Students.InscriptionNumber'"></label>
                <input [disabled]="true" class="form-control bg-white" id="inscriptionNumber" name="inscriptionNumber" type="text"
                       [value]="model?.inscriptionNumber">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="inscriptionPoints" [translate]="'Students.InscriptionPoints'"></label>
                <input [disabled]="true" class="form-control bg-white" id="inscriptionPoints" name="inscriptionPoints" type="text"
                       [value]="model?.inscriptionPoints">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="inscriptionDepartment" [translate]="'Students.InscriptionDepartment'"></label>
                <input [disabled]="true" class="form-control bg-white" id="inscriptionDepartment" name="inscriptionDepartment" type="text"
                       [value]="model?.inscriptionDepartment">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="inscriptionModeCategory" [translate]="'Students.InscriptionModeCategory'"></label>
                <input [disabled]="true" class="form-control bg-white" id="inscriptionModeCategory" name="inscriptionModeCategory" type="text"
                       [value]="model?.inscriptionModeCategory?.name">
              </div>
            </div>
            <div *ngIf="model?.inscriptionRetroYear" class="col-3">
              <div class="form-group text-dark">
                <label for="inscriptionRetroYear" [translate]="'Students.inscriptionRetroYear'"></label>
                <input [disabled]="true" class="form-control bg-white" id="inscriptionRetroYear"
                       name="inscriptionRetroYear"
                       type="text" [value]="model?.inscriptionRetroYear?.alternateName">
              </div>
            </div>
            <div *ngIf="model?.inscriptionRetroPeriod" class="col-3">
              <div class="form-group text-dark">
                <label for="inscriptionRetroPeriod" [translate]="'Students.inscriptionRetroPeriod'"></label>
                <input [disabled]="true" class="form-control bg-white" id="inscriptionRetroPeriod"
                       name="inscriptionRetroPeriod"
                       type="text" [value]="'Periods.' +model?.inscriptionRetroPeriod?.alternateName | translate">
              </div>
            </div>
            <div class="col-12">
              <div class="form-group text-dark">
                <label for="inscriptionComments" [translate]="'Students.InscriptionComments'"></label>
                <textarea [disabled]="true" class="form-control bg-white" id="inscriptionComments" name="inscriptionComments" type="text"
                          [value]="model?.inscriptionComments"></textarea>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3" *ngIf="model && (model.studentStatus.alternateName === 'graduated' || model.studentStatus.alternateName === 'declared')">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="card shadow-none border border-gray-200 text-secondary mb-2">
      <div class="card-body px-3 py-3">
        <a [ngVar]="true" #collapsed1="ngVar" href="javascript:void(0)"
           class="card-title font-lg font-weight-normal  text-decoration-none text-secondary"
           (click)="collapsed1.value = !collapsed1.value">
          <span [translate]="'Students.GraduationInformation'"></span>
          <i class="collapsible  ml-3 pt-1 fa" [ngClass]=" {'fa-chevron-up' : collapsed1.value, 'fa-chevron-down' : !collapsed1.value}"></i>
        </a>
        <form *ngIf="collapsed1.value" class="mt-2 collapsible-form">
          <div class="row">
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="graduationYear" [translate]="'Students.GraduationYear'"></label>
                <input [disabled]="true" class="form-control bg-white" id="graduationYear" name="graduationYear"
                       type="text" [value]="model?.graduationYear?.alternateName">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="graduationPeriod" [translate]="'Students.GraduationPeriod'"></label>
                <input [disabled]="true" class="form-control bg-white" id="graduationPeriod" name="graduationPeriod"
                       type="text" [value]="'Periods.' + model?.graduationPeriod?.alternateName | translate ">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="graduationDate" [translate]="'Students.GraduationDate'"></label>
                <input [disabled]="true" class="form-control bg-white" id="graduationDate" name="graduationDate" type="text"
                       [value]="model?.graduationDate| date:'dd/MM/yyyy'">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="graduationTitle" [translate]="'Students.GraduationTitle'"></label>
                <input [disabled]="true" class="form-control bg-white" id="graduationTitle" name="graduationTitle" type="text"
                       [value]="model?.graduationTitle" >
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="graduationGrade" [translate]="'Students.GraduationGrade'"></label>
                <input [disabled]="true" class="form-control bg-white" id="graduationGrade" name="graduationGrade" type="text"
                       [value]="model?.graduationGradeAdjusted">
              </div>
            </div>
            <div class="col-3" *ngIf="model.hasOwnProperty('graduationType') && model.graduationType != null">
              <div class="form-group text-dark">
                <label for="graduationType" [translate]="'Students.GraduationType'"></label>
                <input [disabled]="true" class="form-control bg-white" id="graduationType" name="graduationType" type="text"
                       [value]="model?.graduationType?.name">
              </div>
            </div>
            <div class="col-3" *ngIf="model?.lastObligationDate">
              <div class="form-group text-dark">
                <label for="lastObligationDate" [translate]="'Students.LastObligationDate'"></label>
                <input [disabled]="true" class="form-control bg-white" id="lastObligationDate" name="lastObligationDate" type="text"
                       [value]="model?.lastObligationDate | date: 'dd/MM/yyyy'">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3" *ngIf="model && model.studentStatus.alternateName === 'suspended'">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="card shadow-none border border-gray-200 text-secondary mb-2">
      <div class="card-body px-3 py-3">
        <a [ngVar]="true" #collapsed1="ngVar" href="javascript:void(0)"
           class="card-title font-lg font-weight-normal  text-decoration-none text-secondary"
           (click)="collapsed1.value = !collapsed1.value">
          <span [translate]="'Students.SuspensionInformation'"></span>
          <i class="collapsible  ml-3 pt-1 fa" [ngClass]=" {'fa-chevron-up' : collapsed1.value, 'fa-chevron-down' : !collapsed1.value}"></i>
        </a>
        <form *ngIf="collapsed1.value" class="mt-2 collapsible-form">
          <div class="row">
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="suspensionYear" [translate]="'Students.SuspensionYear'"></label>
                <input [disabled]="true" class="form-control bg-white" id="suspensionYear" name="suspensionYear"
                       type="text" [value]="model?.suspensionDetails?.suspensionYear?.alternateName">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="suspensionPeriod" [translate]="'Students.SuspensionPeriod'"></label>
                <input [disabled]="true" class="form-control bg-white" id="suspensionPeriod" name="suspensionPeriod"
                       type="text" [value]="'Periods.' + model?.suspensionDetails?.suspensionPeriod?.alternateName | translate ">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="suspensionDate" [translate]="'Students.SuspensionDate'"></label>
                <input [disabled]="true" class="form-control bg-white" id="suspensionDate" name="suspensionDate" type="text"
                       [value]="model?.suspensionDetails?.suspensionDate| date:'dd/MM/yyyy'">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="suspensionPeriods" [translate]="'Students.SuspensionPeriods'"></label>
                <input [disabled]="true" class="form-control bg-white" id="suspensionPeriods" name="suspensionPeriod" type="text"
                       [value]="model?.suspensionDetails?.suspensionPeriods" >
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="suspensionProtocolNumber" [translate]="'Students.SuspensionProtocolNumber'"></label>
                <input [disabled]="true" class="form-control bg-white" id="suspensionProtocolNumber" name="suspensionProtocolNumber" type="text"
                       [value]="model?.suspensionDetails?.suspensionProtocolNumber || '-'">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="suspensionType" [translate]="'Students.SuspensionType'"></label>
                <input [disabled]="true" class="form-control bg-white" id="suspensionType" name="suspensionType" type="text"
                       [value]="model?.suspensionDetails?.suspensionType || '-'">
              </div>
            </div>
            <div class="col-3" *ngIf="model?.suspensionDetails?.reintegrated">
              <div class="form-group text-dark">
                <label for="reintegrationYear" [translate]="'Students.ReintegrationYear'"></label>
                <input [disabled]="true" class="form-control bg-white" id="reintegrationYear" name="reintegrationYear" type="text"
                       [value]="model?.suspensionDetails?.reintegrationYear?.alternateName">
              </div>
            </div>
            <div class="col-3"  *ngIf="model?.suspensionDetails?.reintegrated">
              <div class="form-group text-dark">
                <label for="reintegrationPeriod" [translate]="'Students.ReintegrationPeriod'"></label>
                <input [disabled]="true" class="form-control bg-white" id="reintegrationPeriod" name="suspensionPeriod"
                       type="text" [value]="'Periods.' + model?.suspensionDetails?.reintegrationPeriod?.alternateName | translate ">
              </div>
            </div>
            <div class="col-3" *ngIf="model?.suspensionDetails?.reintegrated">
              <div class="form-group text-dark">
                <label for="reintegrationSemester" [translate]="'Students.ReintegrationSemester'"></label>
                <input [disabled]="true" class="form-control bg-white" id="reintegrationSemester" name="reintegrationSemester" type="text"
                       [value]="model?.suspensionDetails?.reintegrationSemester | semester">
              </div>
            </div>
            <div class="col-3" *ngIf="model?.suspensionDetails?.reintegrated">
              <div class="form-group text-dark">
                <label for="reintegrationType" [translate]="'Students.ReintegrationType'"></label>
                <input [disabled]="true" class="form-control bg-white" id="reintegrationType" name="reintegrationType" type="text"
                       [value]="model?.suspensionDetails?.reintegrationType || '-'">
              </div>
            </div>
            <div class="col-3" *ngIf="model?.suspensionDetails?.reintegrated">
              <div class="form-group text-dark">
                <label for="reintegrationProtocolNumber" [translate]="'Students.ReintegrationProtocolNumber'"></label>
                <input [disabled]="true" class="form-control bg-white" id="reintegrationProtocolNumber" name="reintegrationProtocolNumber" type="text"
                       [value]="model?.suspensionDetails?.reintegrationProtocolNumber || '-'">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3" *ngIf="model && (model.studentStatus.alternateName === 'removed' || model.studentStatus?.alternateName === 'erased')">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="card shadow-none border border-gray-200 text-secondary mb-2">
      <div class="card-body px-3 py-3">
        <a [ngVar]="true" #collapsed1="ngVar" href="javascript:void(0)"
           class="card-title font-lg font-weight-normal  text-decoration-none text-secondary"
           (click)="collapsed1.value = !collapsed1.value">
          <span [translate]="'Students.RemovalInformation'"></span>
          <i class="collapsible  ml-3 pt-1 fa" [ngClass]=" {'fa-chevron-up' : collapsed1.value, 'fa-chevron-down' : !collapsed1.value}"></i>
        </a>
        <form *ngIf="collapsed1.value" class="mt-2 collapsible-form">
          <div class="row">
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="removalYear" [translate]="'Students.RemovalYear'"></label>
                <input [disabled]="true" class="form-control bg-white" id="removalYear" name="removalYear"
                       type="text" [value]="model?.removalYear?.alternateName">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="removalPeriod" [translate]="'Students.RemovalPeriod'"></label>
                <input [disabled]="true" class="form-control bg-white" id="removalPeriod" name="removalPeriod"
                       type="text" [value]="'Periods.' + model?.removalPeriod.alternateName | translate ">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="removalDate" [translate]="'Students.RemovalDate'"></label>
                <input [disabled]="true" class="form-control bg-white" id="removalDate" name="removalDate" type="text"
                       [value]="model?.removalDate| date:'dd/MM/yyyy'">
              </div>
            </div>

            <div class="col-3">
              <div class="form-group text-dark">
                <label for="removalReason" [translate]="'Students.RemovalReason'"></label>
                <input [disabled]="true" class="form-control bg-white" id="removalReason" name="removalReason" type="text"
                       [value]="model?.removalReason" >
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="removalNumber" [translate]="'Students.RemovalNumber'"></label>
                <input [disabled]="true" class="form-control bg-white" id="removalNumber" name="removalNumber" type="text"
                       [value]="model?.removalNumber ||  '-'">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="removalDepartment" [translate]="'Students.RemovalDepartment'"></label>
                <input [disabled]="true" class="form-control bg-white" id="removalDepartment" name="removalDepartment" type="text"
                       [value]="model?.removalDepartment || '-'">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="removalDecision" [translate]="'Students.RemovalDecision'"></label>
                <input [disabled]="true" class="form-control bg-white" id="removalDecision" name="removalDecision" type="text"
                       [value]="model?.removalDecision || '-'">
              </div>
            </div>
            <div class="col-12">
              <div class="form-group text-dark">
                <label for="removalComments" [translate]="'Students.RemovalComments'"></label>
                <textarea [disabled]="true" class="form-control bg-white" id="removalComments" name="removalComments" type="text"
                          [value]="model?.removalComments || '-'"></textarea>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row mt-2" *ngIf="model">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <form-collapsible [collapsed]="false">
      <form-header>
        <span [translate]="'Students.Info'"></span>
      </form-header>
      <form-body>
        <app-students-preview-form-component [model]="model"></app-students-preview-form-component>
      </form-body>
    </form-collapsible>
  </div>
</div>

<div class="row mt-3" *ngIf="model">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="card shadow-none border border-gray-200 text-secondary mb-2">
      <div class="card-body px-3 py-3">
        <a [ngVar]="true" #collapsed1="ngVar" href="javascript:void(0)"
           class="card-title font-lg font-weight-normal  text-decoration-none text-secondary"
           (click)="collapsed1.value = !collapsed1.value">
          <span [translate]="'Students.Contact'"></span>
          <i class="collapsible  ml-3 pt-1 fa" [ngClass]=" {'fa-chevron-up' : collapsed1.value, 'fa-chevron-down' : !collapsed1.value}"></i>
        </a>
        <form *ngIf="collapsed1.value" class="mt-2 collapsible-form">
          <div class="row">
            <div class="col-12">
              <h4 [translate]="'Students.HomeAddressDetails'"></h4>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="homeCountry" [translate]="'Students.Country'"></label>
                <input [disabled]="true" class="form-control bg-white" id="homeCountry" name="homeCountry" type="text"
                       [value]="model?.person?.homeCountry">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="homeAddressRegion" [translate]="'Students.Region'"></label>
                <input [disabled]="true" class="form-control bg-white" id="homeAddressRegion" name="homeAddressRegion" type="text"
                       [value]="model?.person?.homeAddressRegion?.name">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="homePostalCode" [translate]="'Students.PostalCode'"></label>
                <input [disabled]="true" class="form-control bg-white" id="homePostalCode" name="homePostalCode" type="text"
                       [value]="model?.person?.homePostalCode">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="homeCity" [translate]="'Students.City'"></label>
                <input [disabled]="true" class="form-control bg-white" id="homeCity" name="homeCity" type="text"
                       [value]="model?.person?.homeCity">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="homeAddress" [translate]="'Students.Address'"></label>
                <input [disabled]="true" class="form-control bg-white" id="homeAddress" name="homeAddress" type="text"
                       [value]="model?.person?.homeAddress">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="homePhone" [translate]="'Students.Phone'"></label>
                <input [disabled]="true" class="form-control bg-white" id="homePhone" name="homePhone" type="text"
                       [value]="model.person.homePhone">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="mobilePhone" [translate]="'Students.MobilePhone'"></label>
                <input [disabled]="true" class="form-control bg-white" id="mobilePhone" name="mobilePhone" type="text"
                       [value]="model?.person?.mobilePhone">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="email" [translate]="'Students.Email'"></label>
                <input [disabled]="true" class="form-control bg-white" id="email" name="email" type="text"
                       [value]="model?.person?.email">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="alternateEmail" [translate]="'Students.AlternateEmail'"></label>
                <input [disabled]="true" class="form-control bg-white" id="alternateEmail" name="alternateEmail" type="text"
                       [value]="model?.person?.alternateEmail">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <h4 [translate]="'Students.TemporaryAddressDetails'"></h4>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="temporaryCountry" [translate]="'Students.Country'"></label>
                <input [disabled]="true" class="form-control bg-white" id="temporaryCountry" name="temporaryCountry" type="text"
                       [value]="model?.person?.temporaryCountry">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="temporaryAddressRegion" [translate]="'Students.Region'"></label>
                <input [disabled]="true" class="form-control bg-white" id="temporaryAddressRegion" name="temporaryAddressRegion" type="text"
                       [value]="model?.person?.temporaryAddressRegion?.name">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="temporaryPostalCode" [translate]="'Students.PostalCode'"></label>
                <input [disabled]="true" class="form-control bg-white" id="temporaryPostalCode" name="temporaryPostalCode" type="text"
                       [value]="model?.person?.temporaryPostalCode">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="temporaryCity" [translate]="'Students.City'"></label>
                <input [disabled]="true" class="form-control bg-white" id="temporaryCity" name="temporaryCity" type="text"
                       [value]="model?.person?.temporaryCity">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="temporaryAddress" [translate]="'Students.Address'"></label>
                <input [disabled]="true" class="form-control bg-white" id="temporaryAddress" name="temporaryAddress" type="text"
                       [value]="model?.person?.temporaryAddress">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="temporaryPhone" [translate]="'Students.Phone'"></label>
                <input [disabled]="true" class="form-control bg-white" id="temporaryPhone" name="temporaryPhone" type="text"
                       [value]="model?.person?.temporaryPhone">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3" *ngIf="model">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="card shadow-none border border-gray-200 text-secondary mb-2">
      <div class="card-body px-3 py-3">
        <a [ngVar]="true" #collapsed1="ngVar" href="javascript:void(0)"
           class="card-title font-lg font-weight-normal  text-decoration-none text-secondary"
           (click)="collapsed1.value = !collapsed1.value">
          <span [translate]="'Students.RatingInfo'"></span>
          <i class="collapsible  ml-3 pt-1 fa" [ngClass]=" {'fa-chevron-up' : collapsed1.value, 'fa-chevron-down' : !collapsed1.value}"></i>
        </a>
        <form *ngIf="collapsed1.value" class="mt-2 collapsible-form">
          <div class="row">
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="semester" [translate]="'Students.Semester'"></label>
                <input [disabled]="true" class="form-control bg-white" id="semester" name="semester" type="text"
                       [value]="model?.semester">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="department" [translate]="'Students.Department'"></label>
                <input [disabled]="true" class="form-control bg-white" id="department" name="department" type="text"
                       [value]="model?.department.name">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="studyProgram" [translate]="'Students.studyProgram'"></label>
                <input [disabled]="true" class="form-control bg-white" id="studyProgram" name="studyProgram" type="text"
                       [value]="model?.studyProgram.name">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="graduationTitle" [translate]="'Students.GraduationTitle'"></label>
                <input [disabled]="true" class="form-control bg-white" id="graduationTitle" name="graduationTitle"
                       type="text" [value]="model?.studyProgram?.degreeDescription">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="specialty" [translate]="'Students.Specialty'"></label>
                <input [disabled]="true" class="form-control bg-white" id="specialty" name="specialty" type="text"
                       [value]="model?.specialty">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3" *ngIf="model">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="card shadow-none border border-gray-200 text-secondary mb-2">
      <div class="card-body px-3 py-3">
        <a [ngVar]="true" #collapsed1="ngVar" href="javascript:void(0)"
           class="card-title font-lg font-weight-normal  text-decoration-none text-secondary"
           (click)="collapsed1.value = !collapsed1.value">
          <span [translate]="'Students.PersonalInformation'"></span>
          <i class="collapsible  ml-3 pt-1 fa" [ngClass]=" {'fa-chevron-up' : collapsed1.value, 'fa-chevron-down' : !collapsed1.value}"></i>
        </a>
        <form *ngIf="collapsed1.value" class="mt-2 collapsible-form">
          <div class="row">
            <div class="col-12">
              <h4 [translate]="'Students.CitizenInformation'"></h4>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="identityCard" [translate]="'Students.IdentityCard'"></label>
                <input [disabled]="true" class="form-control bg-white" id="identityCard" name="identityCard" type="text"
                       [value]="model?.person?.identityCard">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="identityType" [translate]="'Students.IdentityType'"></label>
                <input [disabled]="true" class="form-control bg-white" id="identityType" name="identityType" type="text"
                       [value]="model?.person?.identityType?.name">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="identityDate" [translate]="'Students.IdentityDate'"></label>
                <input [disabled]="true" class="form-control bg-white" id="identityDate" name="identityDate" type="text"
                       [value]="model?.person?.identityDate | date:'dd/MM/yyyy'">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="identityAuthority" [translate]="'Students.IdentityAuthority'"></label>
                <input [disabled]="true" class="form-control bg-white" id="identityAuthority" name="identityAuthority" type="text"
                       [value]="model?.person?.identityAuthority">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="citizenRegistrar" [translate]="'Students.CitizenRegistrar'"></label>
                <input [disabled]="true" class="form-control bg-white" id="citizenRegistrar" name="citizenRegistrar" type="text"
                       [value]="model?.person?.citizenRegistrar">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="citizenRegistrarPlace" [translate]="'Students.CitizenRegistrarPlace'"></label>
                <input [disabled]="true" class="form-control bg-white" id="citizenRegistrarPlace" name="citizenRegistrarPlace" type="text"
                       [value]="model?.person?.citizenRegistrarPlace">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="citizenRegistrarRegion" [translate]="'Students.CitizenRegistrarRegion'"></label>
                <input [disabled]="true" class="form-control bg-white" id="citizenRegistrarRegion" name="citizenRegistrarRegion" type="text"
                       [value]="model?.person?.citizenRegistrarRegion?.name">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="SSN" [translate]="'Students.SSN'"></label>
                <input [disabled]="true" class="form-control bg-white" id="SSN" name="SSN" type="text"
                       [value]="model?.person?.SSN">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="SSNCountry" [translate]="'Students.SSNCountry'"></label>
                <input [disabled]="true" class="form-control bg-white" id="SSNCountry"
                       name="SSNCountry" type="text" [value]="model?.person?.SSNCountry?.name">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="maleRegistrar" [translate]="'Students.MaleRegistrar'"></label>
                <input [disabled]="true" class="form-control bg-white" id="maleRegistrar" name="maleRegistrar"
                  type="text" [value]="model?.person?.maleRegistrar">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="maleRegistrarPlace" [translate]="'Students.MaleRegistrarPlace'"></label>
                <input [disabled]="true" class="form-control bg-white" id="maleRegistrarPlace" name="maleRegistrarPlace"
                  type="text" [value]="model?.person?.maleRegistrarPlace">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="maleRegistrarRegion" [translate]="'Students.MaleRegistrarRegion'"></label>
                <input [disabled]="true" class="form-control bg-white" id="maleRegistrarRegion"
                  name="maleRegistrarRegion" type="text" [value]="model?.person?.maleRegistrarRegion?.name">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="vatNumber" [translate]="'Students.VatNumber'"></label>
                <input [disabled]="true" class="form-control bg-white" id="vatNumber" name="vatNumber" type="text"
                       [value]="model?.person?.vatNumber">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="vatOffice" [translate]="'Students.VatOffice'"></label>
                <input [disabled]="true" class="form-control bg-white" id="vatOffice" name="vatOffice" type="text"
                       [value]="model?.person?.vatOffice">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="vatOffice" [translate]="'Students.InsuranceProvider'"></label>
                <input [disabled]="true" class="form-control bg-white" id="insuranceProvider" name="insuranceProvider" type="text"
                  [value]="model?.person?.insuranceProvider?.name">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="vatOffice" [translate]="'Students.InsuranceNumber'"></label>
                <input [disabled]="true" class="form-control bg-white" id="insuranceNumber" name="insuranceNumber" type="text"
                  [value]="model?.person?.insuranceNumber">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <h5 [translate]="'Students.PersonalDetails'"></h5>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="birthDate" [translate]="'Students.BirthDate'"></label>
                <input [disabled]="true" class="form-control bg-white" id="birthDate" name="birthDate" type="text"
                       [value]="model?.person?.birthDate| date:'dd/MM/yyyy'">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="birthPlace" [translate]="'Students.BirthPlace'"></label>
                <input [disabled]="true" class="form-control bg-white" id="birthPlace" name="birthPlace" type="text"
                       [value]="model?.person?.birthPlace">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="birthPlaceRegion" [translate]="'Students.BirthPlaceRegion'"></label>
                <input [disabled]="true" class="form-control bg-white" id="birthPlaceRegion" name="birthPlaceRegion" type="text"
                       [value]="model?.person?.birthPlaceRegion?.name">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="familyStatus" [translate]="'Students.FamilyStatus'"></label>
                <input [disabled]="true" class="form-control bg-white" id="familyStatus" name="familyStatus" type="text"
                       [value]="model?.person?.familyStatus?.name">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="militaryStatus" [translate]="'Students.MilitaryStatus'"></label>
                <input [disabled]="true" class="form-control bg-white" id="militaryStatus" name="militaryStatus" type="text"
                       [value]="model?.militaryStatus?.name">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="spouseName" [translate]="'Students.SpouseName'"></label>
                <input [disabled]="true" class="form-control bg-white" id="spouseName" name="spouseName" type="text"
                       [value]="model?.person?.spouseName">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <h5 [translate]="'Students.SchoolInformation'"></h5>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="schoolGraduated" [translate]="'Students.SchoolGraduated'"></label>
                <input [disabled]="true" class="form-control bg-white" id="schoolGraduated" name="schoolGraduated" type="text"
                       [value]="model?.schoolGraduated">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="schoolGraduatedYear" [translate]="'Students.SchoolGraduatedYear'"></label>
                <input [disabled]="true" class="form-control bg-white" id="schoolGraduatedYear" name="schoolGraduatedYear" type="text"
                       [value]="model?.schoolGraduatedYear">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="schoolGraduationNumber" [translate]="'Students.SchoolGraduationNumber'"></label>
                <input [disabled]="true" class="form-control bg-white" id="schoolGraduationNumber" name="schoolGraduationNumber" type="text"
                       [value]="model?.schoolGraduationNumber">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="schoolGraduationGrade" [translate]="'Students.SchoolGraduationGrade'"></label>
                <input [disabled]="true" class="form-control bg-white" id="schoolGraduationGrade" name="schoolGraduationGrade" type="text"
                       [value]="model?.schoolGraduationGrade">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3 mb-3" *ngIf="model">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="card shadow-none border border-gray-200 text-secondary mb-2">
      <div class="card-body px-3 py-3">
        <a [ngVar]="true" #collapsed1="ngVar" href="javascript:void(0)"
           class="card-title font-lg font-weight-normal  text-decoration-none text-secondary"
           (click)="collapsed1.value = !collapsed1.value">
          <span [translate]="'Students.OtherInformation'"></span>
          <i class="collapsible  ml-3 pt-1 fa" [ngClass]=" {'fa-chevron-up' : collapsed1.value, 'fa-chevron-down' : !collapsed1.value}"></i>
        </a>
        <form *ngIf="collapsed1.value" class="mt-2 collapsible-form">
          <div class="row">
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="customField1" [translate]="'Students.CustomField1'"></label>
                <input [disabled]="true" class="form-control bg-white" id="customField1" name="customField1" type="text"
                       [value]="model?.customField1">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="customField2" [translate]="'Students.CustomField2'"></label>
                <input [disabled]="true" class="form-control bg-white" id="customField2" name="customField2" type="text"
                       [value]="model?.customField2">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="customField3" [translate]="'Students.CustomField3'"></label>
                <input [disabled]="true" class="form-control bg-white" id="customField3" name="customField3" type="text"
                       [value]="model?.customField3">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="customField4" [translate]="'Students.CustomField4'"></label>
                <input [disabled]="true" class="form-control bg-white" id="customField4" name="customField4" type="text"
                       [value]="model?.customField4">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="customField5" [translate]="'Students.CustomField5'"></label>
                <input [disabled]="true" class="form-control bg-white" id="customField5" name="customField5" type="text"
                       [value]="model?.customField5">
              </div>
            </div>
            <div class="col-12">
              <div class="form-group text-dark">
                <label for="notes" [translate]="'Students.Notes'"></label>
                <textarea [disabled]="true" class="form-control bg-white" id="notes" name="notes" type="text"
                          [value]="model?.person?.notes"></textarea>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group text-dark">
                <label for="comments" [translate]="'Students.Comments'"></label>
                <textarea [disabled]="true" class="form-control bg-white" id="comments" name="comments" type="text"
                          [value]="model?.comments"></textarea>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
