<form class="mt-2 collapsible-form ">
    <div class="row">
        <div class="col-3">
            <div class="form-group text-dark">
                <label for="studyprogramname" [translate]="'StudyPrograms.Name'"></label>
                <input [disabled]="true" class="form-control bg-white" id="studyprogramname" name="studyprogramname"
                    type="text" [(ngModel)]="model.program.name">
            </div>
        </div>
        <div class="col-3">
            <div class="form-group text-dark">
                <label for="departmentname" [translate]="'StudyPrograms.DepartmentName'"></label>
                <input [disabled]="true" class="form-control bg-white" id="departmentname" name="departmentname"
                    type="text" [(ngModel)]="model.program.department.name">
            </div>
        </div>
        <div class="col-3">
            <div class="form-group text-dark">
                <label for="abbreviation" [translate]="'StudyPrograms.Specialty'"></label>
                <input [disabled]="true" class="form-control bg-white" id="abbreviation" name="abbreviation" type="text"
                    [(ngModel)]="model.studyProgramSpecialty.name">
            </div>
        </div>
        <div class="col-3">
            <div class="form-group text-dark">
                <label for="semester" [translate]="'Courses.semester'"></label>
                <input [disabled]="true" class="form-control bg-white" id="semester" name="semester" type="text"
                    [(ngModel)]="model.semester.name">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="form-group text-dark">
                <label for="courseType" [translate]="'StudyPrograms.CourseType'"></label>
                <input [disabled]="true" class="form-control bg-white" id="courseType" name="courseType" type="text"
                    [(ngModel)]="model.courseType.name">
            </div>
        </div>
        <div class="col-3">
            <div class="form-group text-dark">
                <label for="ects" [translate]="'Courses.ects'"></label>
                <input [disabled]="true" class="form-control bg-white" id="ects" name="ects" type="text"
                    [(ngModel)]="model.ects">
            </div>
        </div>
        <div class="col-3">
            <div class="form-group text-dark">
                <label for="units" [translate]="'Courses.units'"></label>
                <input [disabled]="true" class="form-control bg-white" id="units" name="units" type="text"
                    [value]="model.units">
            </div>
        </div>
        <div class="col-3">
            <div class="form-group text-dark">
                <label for="coefficient" [translate]="'Courses.Coefficient'"></label>
                <input [disabled]="true" class="form-control bg-white" id="coefficient" name="coefficient" type="text"
                    [(ngModel)]="model.coefficient">
            </div>
        </div>
    </div>
</form>
